<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512330759664-52i760in544lrbdstvb1u2gl0igr830k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512330759664-52i760in544lrbdstvb1u2gl0igr830k</string>
	<key>API_KEY</key>
	<string>AIzaSyBlxTjAD11udiS9hyV4ymTvgoFQSVV0V98</string>
	<key>GCM_SENDER_ID</key>
	<string>512330759664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.TikTok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-82c6d</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-82c6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512330759664:ios:066021b62b9de8e773b135</string>
</dict>
</plist>